spring:
  application:
    name: Mini Instagram

  datasource:
    url: jdbc:postgresql://localhost:5432/miniinstagram
    username: miniuser
    password: minipass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
